{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'heading' -%}
      {% assign heading = block.settings.heading %}
      {% assign sub_heading = block.settings.sub_heading %}
      {% assign button_url = block.settings.button_url %}
      {% assign button_text = block.settings.button_text %}
      {% assign bottom_text = block.settings.bottom_text %}
      {% assign top_text_1 = block.settings.top_text_1 %}
      {% assign top_text_2 = block.settings.top_text_2 %}
      {% assign top_text_3 = block.settings.top_text_3 %}
      {% assign top_url = block.settings.top_url %}
    {%- endcase -%}
  {%- endfor -%}

{%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
    .W-45 {
      width: 45%;
    }
    .align-end{
      align-items: flex-end;
    }
    .pt-30{
      padding-top:30px;
    }
    .text-left{
      text-align: left;
    }
    .text-20{
      font-size: 20px
    }
    .button-animation{
      background: linear-gradient(to right, #fff544 50%, #000 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
    }
    .button-animation:hover {
      background-position: left bottom;
      color: #000;
      border: 0
    }
    .button-animation:after{
      content: unset;
    }
    .bottom-bar{
      background: #f5f5f5;
      display: flex;
      justify-content: center;
    }
    .d-flex{
      display: flex;
      justify-content: space-between;
      padding: 0 80px;
      align-items: center;
      background: #f5f5f5;
    }
    .top-bar{
      padding: 8px;
    }
    .button-animation2{
      background: linear-gradient(to right, #000 50%,#fff544  50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
      color:#000
    }
    .button-animation2:hover {
      background-position: left bottom;
      color: #fff;
      border: 0
    }
    .button-animation2:after{
      content: unset;
    }
  {%- endstyle -%}
<div class="d-flex">
  <div class="top-bar">{{top_text_1}}</div>
  <div class="top-bar">{{top_text_2}}</div>
  <div class="top-bar">
    <a href="{{ button_url }}" class="button text-20 button-animation2">{{top_text_3}}<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
    </svg></a>  
  </div>
</div>
<div
  id="Banner-{{ section.id }}"
  class="banner banner--content-align-center"
>
    <div class="banner__media media">
        {%- liquid
        assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        -%}
        {{
            section.settings.image
            | image_url: width: 3840
            | image_tag:
            width: section.settings.image.width,
            height: image_height,
            sizes: "100vw",
            widths: widths,
            fetchpriority: "auto"
        }}
    </div>
    <div class="banner__content W-45 align-end">
      <div class="banner__box content-container pt-30">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="banner__heading inline-richtext h0 text-left">{{ heading }}</h2>
            <p class="text-left">{{sub_heading}}</p>
            <div class="left">
              <a href="{{ button_url }}" class="button text-20 button-animation">{{ button_text }}<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
              </svg></a>
            </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
</div>
<div class="bottom-bar">{{bottom_text}}</div>
{% schema %}
    {
        "name": "Image Banner New",
        "tag": "section",
        "class": "section",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:sections.image-banner.settings.image.label"
            }
        ],
        "blocks": [
          {
            "type": "heading",
            "name": "Banner Headings & CTA",
            "limit": 1,
            "settings": [
              {
                "type": "inline_richtext",
                "id": "heading",
                "label": "Banner Heading"
              },
              {
                "type": "inline_richtext",
                "id": "sub_heading",
                "label": "Banner Sub-Heading"
              },
              {
                "type": "text",
                "id": "button_text",
                "label": "Button Text"
              },
              {
                "type": "url",
                "id": "button_url",
                "label": "Button Url"
              },
              {
                "type": "header",
                "content": "Banner Bottom text"
              },
              {
                "type": "inline_richtext",
                "id": "bottom_text",
                "label": "Bottom Banner Text"
              },
              {
                "type": "header",
                "content": "Banner Top text"
              },
              {
                "type": "inline_richtext",
                "id": "top_text_1",
                "label": "Text 1"
              },
              {
                "type": "inline_richtext",
                "id": "top_text_2",
                "label": "Text 2"
              },
              {
                "type": "text",
                "id": "top_text_3",
                "label": "Button Text"
              },
              {
                "type": "url",
                "id": "top_url",
                "label": "Button Url"
              }
            ]
          }
        ],
        "presets": [
            {
                "name": "Image Banner New"
            }
        ]
    }
{% endschema %}